<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vegetable.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vegetable.description %>
</p>

<% if @vegetable.picture.attached? %>
  <div>
    <%= image_tag @vegetable.picture %>
  </div>
<% end %>

<%= link_to 'Edit', edit_vegetable_path(@vegetable) %> |
<%= link_to 'Back', vegetables_path %>
