<!DOCTYPE html>
<html>
  <head>
    <title>Catfarm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if cat_signed_in? %>
      Hi, <%= current_cat.name %>
      (<%= link_to 'Sign out', destroy_cat_session_path, method: :delete %>)
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
